.AboutUs-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(87, 101, 126);
  z-index: 1;
  text-align: center;
  color: white;
}


.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* HomeHero Tab */

  .HomeHero-container {
    
  }

.hero-image{
  width: fit-content;
}